:root {
  --color-base-bg: #F9FAFB;
  --color-base-text: rgb(40, 40, 40);
  --color-card-bg: #FFFFFF;
  --color-shadow-box: rgb(0, 0, 0, 0.35);
  font-family: Roboto; 
}

:root.dark {
  --color-base-bg: rgb(43,42,51);
  --color-base-text: rgb(240,240,240);
  --color-card-bg: rgb(55,54,63);
  --color-shadow-box: rgb(0,0,0, 0.95);
  --color-input-box: rgb(100, 100, 100);
}

:root.light {
  --color-base-bg: #F9FAFB;
  --color-card-bg: #FFFFFF;
  --color-base-text: rgb(40,40,40);
  --color-shadow-box: rgb(0, 0, 0, 0.35);
  --color-input-box: rgb(240,240,240);
}


body {
  display: flex;
  margin: 0;
}



.backsplash {
  display: flex;
  position: relative;
  text-align: center;
  width: max(40vw, 70vw);
  height: 100vh;
  background-size: contain;
  overflow: hidden;
}

img#backsplash {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.picture-credit {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-intro {
  transition: all 0.2s ease-in;
  color: var(--color-base-text);
  text-align: center;
  font-size: 1.5rem;
  width: 50%;
}

.register-intro p {
  transition: all 0.2s ease-in;
  color: var(--color-base-text);
  font-size: 1rem;
  margin-top: 5px
}

.card-container > * {
  transition: all 0.3s ease-in;
}

.card-container {
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-color: var(--color-base-bg);
  width: 100%;
}

.icon-container {
  position: absolute;
  top: 30px;
  right: 30px;
  transition: all 0.3s ease-in-out;
}

.icon-container:hover {
  transform: scale(1.3, 1.3);
  cursor: pointer;
}

.register-card {
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 20px -2px var(--color-shadow-box);
  height: 200px;
  width: calc(100% - 100px);
  background-color: var(--color-card-bg);
  padding: 50px;
}

label {
  color: var(--color-base-text);
}

.register-card input {
  background-color: var(--color-input-box);
  border-radius: 5px;
  border: 1px solid #5D7388;
  padding-left: 10px;
  transition: all 0.2s ease-in;
  height: 28px;
  color: var(--color-base-text);
}

.register-card input:focus {
  outline: none !important;
  border: 1px solid #5D7388;
  box-shadow: 0 0 10px 0px #A1C5D1;
  background-color: #E1F5FF;
  color: rgb(40,40,40);
}

#submit {
  width: 200px;
  height: 70px;
  background-color: #5D7388;
  color: white;
  border: 0px;
  font-size: 16px;
  font-weight:600;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#submit:hover {
  box-shadow: 0 0 20px 10px #A1C5D1;
}

input, label {
  display: block;
}


#register-form {
  transition: all 0.2s ease-in;
  display: grid;
  grid-template-columns: repeat(2, 192px);
  justify-content: center;
  column-gap: 80px;
  width: 80%;
  height: 100%;
}

.footer {
  color: var(--color-base-text);
}

.picture-credit, a {
  color: white;
}

